{
	email {$ACME_EMAIL}
}

{$APP_DOMAIN} {
	encode zstd gzip

	route {
		@backend path /admin* /auth* /channels* /healthz /healthz/* /macros* /messages* /workspaces*

		reverse_proxy @backend app:8000 {
			header_up X-Forwarded-Proto {scheme}
			header_up X-Forwarded-Host {host}
		}

		root * /srv
		try_files {path} /index.html
		file_server
	}
}
